<% include ../partials/header %>

    <!DOCTYPE html>
    <html>

    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <script>
            // Put this code in seperate file and
            // If city(currentCity) is defined then 
            // include this file using include header code in ejs
            // if (navigator.geolocation) {
            //     navigator.geolocation.getCurrentPosition(function (position) {
            //         api = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" +
            //             position.coords.latitude + "," + position.coords.longitude +
            //             "&key=AIzaSyDAa6gPwQ_qGEiEjMOddgGyY3bDDTsGSnE"
            //         console.log(position)
            //         $.getJSON(api, function (data) {
            //             var length = data.results.length
            //             city = data.results[length - 3].address_components[0].long_name
            //             address = data.results[0].formatted_address
            //             // console.log(data.results[0])
            //             // console.log(data.results[length - 3].address_components[0].long_name)
            //             // console.log(data.results[0].formatted_address)
            //             $.ajax({
            //                 url: '/location',
            //                 type: 'post', // performing a POST request
            //                 data: {
            //                     city: data.results[length - 3].address_components[0].long_name,
            //                     address: data.results[0].formatted_address
            //                 },
            //                 success: function (response) {
            //                     console.log("res" + response)
            //                     $("#new").html("msg");
            //                 }
            //             }).done(function (msg) {
            //                 $("#new").html(msg);
            //             })


            //         });

            //     });
            // } else {
            //     console.log("NOT SELECT")
            // }
        </script>

        Books list
        <h1 id="new">  </h1>
        <br>
        <% books.forEach(function(book) { %>
            <a href="/books/<%= book._id %>">
                <%= book.name %>
            </a>
            <br />
            <img src="<%= book.image %>" height="500" width="500">
            <br />
            <%= book.price %>
                <br />
                <% }) %>

    <br>
    <% categories.forEach(function(category){ %>
    <%= category._id %>
    <a href="/books/?cat=<%= category._id %>" %> >Link</a>
    <br>
    <% }) %>

                    <% include ../partials/footer %>